<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SIPES</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <div id="home">
        <div class="landing-text">
            <div class="container">
                <div class="card border-0 shadow my-5">
                    <div class="card-body p-5">
                        <h1 id="font-1">Selamat Datang di SIPESAWAT!</h1>
                        <br>
                        <h3 id="font-2">Daftar Fitur:</h3>
                        <br>
                        <a th:href="@{/pesawat}" class="btn btn-primary mr-2">Pesawat</a>
                        <a class="btn btn-primary mr-2">Penerbangan</a>
                        <a class="btn btn-primary mr-2">Cari</a>
                        <a class="btn btn-primary">Filter</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>