<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pesawat Berhasil Ditambahkan | SIPES</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
    <nav th:replace="fragments/fragment :: navbar"></nav>
    <br><br>
    <h2 th:text="'Pesawat ' + ${pesawat.maskapai} + ' dengan nomor seri ' + ${pesawat.nomorSeri} + ' berhasil ditambahkan'" style="text-align: center;"></h2>
    <a th:href="@{/pesawat}" style="color: dodgerblue; text-align: center;">Kembali ke Daftar Pesawat</a>
</body>
</html>